<template>
  <div>
    <HeaderComponent />
    <main class="main">
      <nuxt />
    </main>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "~/node_modules/nuxt-property-decorator"
import HeaderComponent from "@/components/header.vue"

@Component({
  components: {
    HeaderComponent
  }
})
export default class Default extends Vue {}
</script>

<style>
.main {
  padding-top: 80px;
}
</style>
