<template>
  <div>
    <b-container>
      <h1>Index</h1>
    </b-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator"

@Component
export default class Index extends Vue {}
</script>
